body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #201f1f;
}

.body-white {
    background-color: #ffffff;
}

a {
  color: #00B7FF;
}

/* -------- FONT ----------*/

.pixel-font {

    font-family: 'Londrina Solid', cursive;
    font-size: large;
}

.pixel-font-white {
    font-family: 'Londrina Sketch', cursive;
    background: #ffffff;
}

.pixel-font-bold {
    font-family: 'Londrina Sketch', cursive;
    font-size: xx-large;
    font-weight: bold;
}

.red {
    color: #88b272;
}

.beige {
    color: #c0a16b;
}

.white {
    color: #ffffff;
}

.green {
    color: #5cb85c;
}

.small {
    font-size: small;
}

/*--------- LAYOUT ---------*/

.navbar-inverse {
    background-color: #000000;
}

.main {
    /*background-image: url("/images/background.png");*/
    /*background-size: cover;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.main-video {
    margin-left: 10%;
    margin-right: 10%;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.center {
    text-align: center;
}

.background {
    max-height: 100%;
    max-width: 100%;
}

.description {
    color: #ffffff;
    background-color: #512f38;
    padding-top: 1%;
}

.margin-top {
    margin-top: 2%;
    margin-left: 3%;
}

.double-margin-top {
    margin-top: 4%;
    margin-bottom: 3%;
    margin-left: 3%;
}

.video {
    padding-top: 20px;
    padding-bottom: 20px;
    border-color: #000077;
    background-color: #4b463c;
    /*background-image: url("/images/background.png");*/
    border: 4px solid;
    background-repeat: repeat;
}

.follow {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #512f38;
}

.video p {
    color: #c4bca8;
}

.btn-twitter {
    background-color: #ed8c45;
}

.btn-facebook {
    background-color: #ed8c45;
}

.form-group .btn {
    background-color: #250f0c;
}

.follow p {
    color: #faf3ff;
}

.screenshots {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #000000;
}

.info-body {
    background-color: #512f38;
}

.calltoaction {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #512f38;
}

.footer {
    text-align: center;
    color: #ffffff;
    background-color: #f73d3f;
    padding-top: 1%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 1%;
}